<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Windows service manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        
            @RenderBody()
            <footer>
                <div class="container">
                    <p>&copy; @DateTime.Now.Year - Windows service manager</p>
                </div>
            </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/Scripts/app/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
